@import '../base.scss';

footer {
    border-top: solid 2px $secondary-color;
    width: 100%;
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-end;
}

.iconsFooter {
    margin: 20px;
}

.github {
    margin-right: 10px;
}


@media only screen and (max-width: 768px) {

    footer {
        justify-content: center;
    }
}

