@import '../base.scss';

footer {
    border-top: solid 2px $secondary-color;
    width: 100%;
    font-size: 1.5vw;
    display: flex;
    justify-content: flex-end;
    flex-shrink: 0;

    & p {
        align-self: center;
    }
}

.iconsFooter {
    margin: 1.4vw 0.8vw;
}

.github {
    margin-right: 10px;
}


@media only screen and (max-width: 768px) {

    footer {
        justify-content: center;
    }

    .iconsFooter {
        margin: 0;
    }

    .github {
        height: 50%;
        width: 25%;
    }

    .linkedin {
        height: 50%;
        width: 25%;
    }
}

