@import '../base.scss';

/* Navbar.css */
.navbar {
    width: 200px; /* Ajustez la largeur selon vos besoins */
    height: 100%;
    background-color: #333; /* Couleur de fond de la barre de navigation */
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
  }
  
  nav {
    padding-top: 20px; /* Ajustez l'espacement en haut selon vos besoins */
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px; /* Ajustez l'espacement entre les éléments de la liste */
  }
  
  Link {
    text-decoration: none;
    color: white; /* Couleur du texte des liens */
  }
  
  Link:hover {
    color: #ffcc00; /* Couleur du texte des liens au survol */
  }
  