@import '../base.scss';

.navbar {
    background-color: $secondary-color;
    margin: 0 6rem 0 0;
    padding: 2rem 2rem 0 0;
}

ul {
    padding-inline-start: 2rem!important;
}

li {
    margin: 2rem 0;
}

.iconContainer {
    position: relative;
    display: inline-block;
}

svg {
    transition: transform .5s;
}

span.iconText {
    position: absolute;
    bottom: -1.5rem;
    font-size: 40px;
    letter-spacing: -5px;
    color: $primary-color;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity .5s;
}

.iconContainer:hover .iconText {
    opacity: 1;
}

svg:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}


@media only screen and (max-width: 768px) {
    .navbar {
        margin: 0;
        padding: 1rem 0;
    }
    
}