@import '../base.scss';

.linkHome {
    display: flex;
    margin-bottom: 3rem;
}

.linkBg {
    margin: 0 4rem 0 0;
    padding: 2rem 2rem;
    text-align: center;
    background-color: $secondary-color;
    position: relative;

    img,
    h3 {
        transition: transform 0.5s ease;
    }

    &:hover img{
        transform: scale(1.2);
    }

    h3 {
        margin: 0;
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translate(-50%, -50%);
    }

    transition: background-color 0.3s ease; 
    &:hover {
        background-color: $secondary-color;
    }
}
