@import '../base.scss';

.linkHome {
    display: flex;
    margin-bottom: 3vw;
}

.linkBg {
    margin: 0 4vw 0 0;
    padding: 2vw 2vw;
    text-align: center;
    background-color: $secondary-color;
    position: relative;

    img,
    h3 {
        transition: transform 0.5s ease;
    }

    &:hover img{
        transform: scale(1.2);
    }

    h3 {
        margin: 0;
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translate(-50%, -50%);
    }

    transition: background-color 0.3s ease; 
    &:hover {
        background-color: $secondary-color;
    }
}


@media only screen and (max-width: 768px) {
    .presentation {
        text-align: center;
    }

    .linkHome {
        display: block;
    }

    .linkBg {
        margin: 4rem;
        padding: 2rem;

        h3 {
            font-size: 4rem!important;
        }
    }
}
