@import '../base.scss';

.stackTitle {
    margin: 0 3vw 4vw 2vw;
}

.divStack {
    font-size: 3rem;
    margin-left: 1vw;
    text-align: center;
}

.divStack span {
    margin: 0 1rem;
}

.iconContainerStack {
    margin: 0 0.8vw 2vw 0.8vw;
}

.imgIcon {
    transition: transform .5s;
}

.imgIcon:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}


/*mobile responsive*/

@media (max-width: 768px) {
    
}