@import '../base.scss';

.stackTitle {
    margin: 0 3vw 0 2vw;
}

.divStack {
    font-size: 3rem;
}

.divStack span {
    margin: 0 1rem;
}

/*mobile responsive*/

@media (max-width: 768px) {
    
}