$font-title : 'Silkscreen', sans-serif;
$font-p : 'VT323', monospace;
$font-em : 'Pixelify Sans', sans-serif;

$primary-color : #1C1D21;
$secondary-color : #BB9BB0;
$tertiary-color : #F1E3E4;

body {
    font-family: $font-p;
}




