$font-title : 'Silkscreen', sans-serif;
$font-p : 'VT323', monospace;
$font-em : 'Pixelify Sans', sans-serif;

$primary-color : #1C1D21;
$secondary-color : #BB9BB0;
$tertiary-color : #F1E3E4;

body {
    margin: 0;
    padding: 0;
    font-family: $font-p;
    background-color: $primary-color;
    color: $tertiary-color;
}

.globalposition {
    display: flex;
}

h1 {
    font-family: $font-em;
    font-size: 10rem;
    margin: 2rem 0 0 0;
}

h2 {
    font-family: $font-p;
    font-size: 8rem;
    margin-top: 2rem;
    margin-bottom: 0;
}

h3 {
    font-family: $font-p;
    font-size: 4rem;
    margin-top: 1rem;
    margin-bottom: 0;
}

h4 {
    font-family: $font-p;
    font-size: 2rem;
    margin-top: 0;
}




